/webpack-tutorial/node_modules/
/webpack-tutorial/package-lock.json

/scoreboard/node_modules/
/scoreboard/package-lock.json

/redux-tutorial/node_modules/
/redux-tutorial/package-lock.json

.idea
package-lock.json